<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Formations</string>
		<string>Main</string>
		<string>VecExt</string>
		<string>utf8Case</string>
		<string>Coordinates</string>
		<string>Button</string>
		<string>Colour</string>
		<string>ColourNames</string>
		<string>Touch</string>
		<string>ColourExt</string>
		<string>Lengths</string>
		<string>BinDecHex</string>
		<string>utf8</string>
		<string>RoundedRectangle</string>
		<string>Font</string>
		<string>UI</string>
		<string>Player</string>
		<string>Players</string>
		<string>Ball</string>
		<string>Voronoi</string>
	</array>
	<key>Dependencies</key>
	<array/>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
